img {
    width: 24rem;
    padding: 2rem;
    align-content: center
}

h3 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.btn-danger{
    margin-top: 2rem;
    margin-left: 70rem;
}

#img{
    width: 15rem;
    float: center;
    text-align: center;
}

.rigth{
    float: right;
    text-align: right;
}

.left{
    float: left;
    text-align: left;
    margin-top: 2rem;
}

#img-nav {
    width: 7rem;
}

h5 {
    margin-top: 2rem;
    color: turquoise;
    font-family: Impact;
}


.btn-center{
    margin-top: 5rem;
}

h1{
    font-size: 5rem;
}

.margin-top{
    margin-top: 2rem;
}

#player{
    margin-top: 8rem;
}
